<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>MINICODER</h1>
            <hr />
            <p>
                Ci siamo impegnati a realizzare un progetto che possa rendere l’informatica qualcosa di <b>concreto</b>, 
                e compresibile per un bambino. Attraverso il progetto aiutiamo i bambini a sviluppare 
                il pensiero computazionale, cioè la capacità di risolvere problemi più o meno complessi. 
                Non imparano esclusivamente a programmare ma <b><i>programmano per apprendere</i></b>.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Scopri di più</a>
        </div>
    </div>
</header>
