<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>MINICODER</h1>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Scopri di più</a>
        </div>
    </div>
</header>