<section id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Il principio delle 4P:
                </h2>
                <hr class="primary" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ '/img/home/4p-01.png' | relative_url }}" alt="convolgere in un progetto"
                        class="pppp" />
                    <h3>Project</h3>
                    <p class="text-muted">
                        imparare coinvolgendosi in un progetto
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ '/img/home/4p-02.png' | relative_url }}" alt="condividere con i compagni"
                        class="pppp" />
                    <h3>Peer</h3>
                    <p class="text-muted">
                        imparare con la condivisone e il confronto tra gli
                        alunni
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ '/img/home/4p-03.png' | relative_url }}" alt="giocare sperimentando" class="pppp" />
                    <h3>Play</h3>
                    <p class="text-muted">
                        imparare divertendosi, sperimentando, sbagliando e
                        migliorando
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{{ '/img/home/4p-04.png' | relative_url }}" alt="motivare con passione" class="pppp" />
                    <h3>Passion</h3>
                    <p class="text-muted">
                        la motivazione per imparare senza paura
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>