<section id="program">
  <div class="col-lg-6 col-sm-12 text-center program-box1">
    <div class="box-inner">
      <h2 class="section-heading">Percorsi per gli studenti</h2>
      <hr class="dark" />
      <img src="./img/programs/students.png" alt="Percorsi per gli studenti" class="program-target" />
      <p class="text-center">
        Divertenti programmi per imparare (giocando)
        i concetti base di informatica, adatti per tutti i ragazzi delle scuole primarie.
      </p>
      <br>

      <a href="students_program.html" class="btn btn-default btn-xl">SCOPRI I PERCORSI</a>
    </div>
  </div>

  <div class="col-lg-6 col-sm-12 text-center program-box2">
    <div class="box-inner">
      <h2 class="section-heading">Programma per gli insegnanti</h2>
      <hr class="dark" />
      <img src="./img/programs/teachers.png" alt="Programma per gli insegnanti" class="program-target" />
      <p class="text-center">
        Insegnare agli insegnanti i concetti principali della programmazione per renderli autonomi nel rapporto con gli alunni.
      </p>
      <br>
      <a href="teachers_program.html" class="btn btn-default btn-xl">SCOPRI IL PROGRAMMA</a>
    </div>
  </div>
  <div style="clear: both;"></div>
</section>
