<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Il progetto Minicoder</h2>
                <hr class="light" />
                <p class="text-center">
                    MiniCoder è un'iniziativa a carattere gratuito nata dalla
                    collaborazione tra la Mondora srl sb e la Ghelfi Ondulati
                    spa, per la divulgazione della programmazione informatica
                    (coding) ai bambini della scuola primaria. </br> Il progetto è
                    organizzato da mentor (professionisti volontari) per
                    insegnare il pensiero computazionale ai bambini e favorire
                    l'alfabetizzazione digitale sul territorio.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
