<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">Il progetto Minicoder</h2>
                <hr class="light" />
                <p class="text-center">
                    MiniCoder è un'<b>iniziativa a carattere gratuito</b> nata dalla collaborazione tra la <b>Mondora
                        srl sb</b> e la
                    <b>Ghelfi Ondulati spa</b>, per la divulgazione della programmazione informatica (coding) ai bambini
                    della
                    scuola primaria.<br>
                    Il progetto è organizzato da mentor (professionisti volontari) per <b>insegnare il pensiero
                        computazionale ai bambini</b> e favorire l'alfabetizzazione digitale sul territorio.
                    L'obiettivo è quello di utilizzare il computer in maniera attiva, partendo dalla comprensione dei
                    costrutti di base e imparando a creare fisicamente con del <b>"codice di cartone"</b> i primi
                    programmi e
                    dei semplici videogiochi in base ai principi del <b>Creative Learning</b>.
                </p>
                <!-- <a href="https://minicoder.youcanbook.me/" class="btn btn-default btn-xl">Prenota ora un
                    appuntamento!</a> -->
            </div>
        </div>
    </div>
</section>